body{
    background: yellow;
    margin: 0;
}

.jumbo{
    position: fixed;
    margin:0;
    padding:0;
    top: 0;
    width: 100%;
    height: 150px;
    background: url('../a3-API/a3-assets/celebration-concert-crowd-1154189.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: silver;
    border-top: 2px solid black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 5px;
}

/*
font-family: 'Rock Salt', cursive;
font-family: 'PT Sans Narrow', sans-serif;


span

h4

a

*/